.tooltip.top{
  width: 40px !important;
  margin-left: 27px !important;
}
.navbar-brand a img{
  content:url(http://kungphanith.github.io/public_images/7yhps-logo.png) !important;
}
.login .logo-login img{
  content:url(http://kungphanith.github.io/public_images/7yhps-logo.png) !important;
  height: auto !important;
  background: rgb(200, 214, 218) !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-bottom: 8px !important;
}
